
.contenedor-paso{
    margin-top: 2rem;
}


.contenedor-imagenes-paso{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    justify-items: center;
}


/* Clase para controlar cada una de las imagenes de los pasos */
.imagen-representativa-paso{
    max-width: 400px;
    max-height: 300px;
}

/* Configuracion para centrar la imagen y el figcaption */
figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-ordenada{
    margin-top: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
